<app-navbar></app-navbar>
<app-background-switcher></app-background-switcher>

<!-- Espacement avant le footer -->
<div class="footer-space"></div>


<!-- Section Partenariat -->
<section class="partners-section">
  <h2>NOS PARTENAIRES DE CONFIANCE</h2>
  <div class="partners-logos">
    <div class="partner-card">
      <img src="assets/Sponsor/logo1.png"  />
    </div>
    <div class="partner-card">
      <img src="assets/Sponsor/logo2.png" />
    </div>
    <div class="partner-card">
      <img src="assets/Sponsor/logo3.jpg"  />
    </div>
     <div class="partner-card">
      <img src="assets/Sponsor/logo4.png"  />
    </div>
  </div>
</section>

