<app-navbar></app-navbar>
<div class="contact-page">
  <h1 class="logo-title">
    <i class="fas fa-shield-alt"></i> SHIELD <span style="color: #0082B1">CONTACT</span>
  </h1>

  <div class="contact-info">
    <p><i class="fas fa-map-marker-alt"></i> Adresse : Route Mahdia, Sfax</p>
    <p><i class="fas fa-phone-alt"></i> Téléphone : +216 25 189 866</p>
    <p><i class="fas fa-envelope"></i> Email : HR_SS&#64;shield.com</p>
    <p><i class="fas fa-clock"></i> Heures d'ouverture : Lun - Ven, 8h - 18h</p>
  </div>
</div>
<app-footer></app-footer>