.panier-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px 15px;
  text-align: left;
  vertical-align: middle;
  max-width: 140px;
  word-wrap: break-word;
}

.table th {
  background-color: #006B94;
  color: white;
}


.btn {
  cursor: pointer;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
}
.actions {
  text-align: center; /* centrer le bouton */
  margin-top: 30px;
}

.btn-primary {
  background-color: #007f5f;
  color: white;
  padding: 16px 32px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  min-width: 150;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #005a3f;
}

.btn-primary:hover {
  background-color: #005a3f; 
}


.btn-warning:hover {
  background-color: #e0a800;
}

.panier-total {
  font-size: 18px;
  text-align: right;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

.actions {
  text-align: right;
  margin-top: 20px;
}

.actions .btn + .btn {
  margin-left: 10px;
}

.alert-info {
  padding: 15px;
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
  border-radius: 4px;
  color: #0c5460;
  text-align: center;
}
.mini-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 8px;
}